.friend_item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 200px;
	height: 100%;
	
	border-radius: 7px;
	background-color: #274659;
	font-family: 'Roboto', sans-serif;
	color: #0A1926;

	padding: 6px;
}
.avaName {
	display: flex;

	width: 180px;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	align-self: center;
}
.friend_item .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;

	margin-right: 10px
}
.name {
	align-self: center;
	display: block;
	max-width: 110px;
	max-height: 18px;

	margin:0;

	font-size: 16px;
	font-weight: 50px;
	color: #D4DBEB;
}
.massage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
	height: 170px;
}
.massage p {
	display: inline-block;
	min-height: 23px;	
	
	padding: 5px;
	margin: 0px;
	
	border-radius: 15px;
	background-color: #69788C;
}
.reply {
	align-self: center;

	width: 110px;
	height: 30px;

	border: 0px;
	border-radius: 15px;

	font-size: 16px;
	font-weight: bold;

	background: linear-gradient(80deg,#A68F72, #BFA688);
}
.star {
	align-self: flex-end;
	width: 30px;
	height: 30px;
}