.registration {
	margin-top: 50px;

	background-image:url(https://images.pexels.com/photos/1498964/pexels-photo-1498964.jpeg?cs=srgb&dl=flat-lay-1498964.jpg&fm=jpg);
	background-size: cover;
	background-attachment: fixed;
}
.registration_slide {
	height: 800px;
}
.fog {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}
.fog:before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #D4DBEB;
	opacity: 0.5;
}
.registration_slide_content {
	display: flex;
	justify-content: flex-start;

	position: absolute;

	width: 800px;
	height: 500px;

}
.reg_left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-image:url(https://i.pinimg.com/originals/c7/ab/15/c7ab1588b1d6218f943713f296a32397.jpg);
	background-size: cover;

	height: 100%;
	width: 40%;
}
.reg_left h3 {
	color: white;
	font-size: 50px
}
.reg_left p {
	color: white;
	font-size: 20px;

	margin-bottom: 100px
}
.reg_right {
	font-family: 'Lato', sans-serif;
	background-color: #D4DBEB;
	color: #444;

	padding: 30px;

	height: 100%;
	width: 60%;
}
