.app-wrapper {
  width: 1200px;
  margin: 0px auto;
  color: black;

  display: grid;
  grid-template-areas:
    "h h"
    "s c"
  ; 
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px auto;
}

.header {
  grid-area: h;
  background-color: red;
}

.sidebar {
  grid-area: s;
  background-color: blue;

  text-align: center;
}
.sidebar a {
  text-decoration: none;
  color: black;
}

.content {
  grid-area: c;
  background-color: green;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}