.header_slide {
   width: 100vw;
   background-color: #FDFCFE;
   background-image: url('./skachat-oboi-les-razreshenie-4k.png');
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 500px;
}
.main_header_h1 {
   color: #BF8600;
   font-weight: lighter;
   font-size: 38px;
   
   -webkit-transition: all 1.5s 0.5s;
           transition: all 1.5s 0.5s;
}