.navigation {
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   align-self: flex-end;
   width: 550px;
   height: 50px;
   margin: 0px;
}

.navigation a {
   display: block;
   text-align: center;
   width: 80px;
   height: 30px;
   margin-right: 20px;
   text-decoration: none;
   text-align: center;
   color: #BF8600;
   font-size: 18px;
}

.navigation a:last-child {
   margin-right: 0px;
}

.navigation a:hover {
   border-bottom: 2px solid #BF8600;
}