form {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}
form h3 {
	font-size: 22px;
	
	width: 70px;
	margin: 0px;
	margin-bottom: 50px;
} 
.username {
	display: block;
    padding: 9px 10px;
    margin-bottom: 15px;
    width: 100%;
    color: #666;
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    transition: border-color .2s ease-out;
}
.password {
	display: block;
    padding: 9px 10px;
    margin-bottom: 15px;
    width: 100%;
    color: #666;
    border: 2px solid #E6E6E6;
    border-radius: 3px;
    transition: border-color .2s ease-out;
}
.forgot_password {
	align-self: flex-end;
	color: #444;

	margin-bottom: 70px;
}
.login_signup_combo {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;

    margin-bottom: 70px;
}
form a {
	text-decoration: none;
	color: #444;
}
.btn_login {
    line-height: 20px;
    min-width: 88px;

    border: 0px;
    border-radius: 5px;

    text-align: center;
	font-weight: bold;
	color: white;

	background: linear-gradient(50deg,#183940, #39B2BF);

    text-transform: uppercase;
    outline: 0;
    padding: 8px 15px;
}
.form_social_links {
	width: 400px;
	height: 0px;
	margin:0 auto;
	border-top: 1px solid #808080;
}